/* CSS stilovi, autor: Mario Sever, prof.  */

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
}


nav {
	margin-top: 40px;
	margin-bottom: 30px;
}

nav ul {
	padding-left: 0px
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	margin-right: 18px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	transition: all .3s;
}

nav ul li a:hover {
	color: blue;
}

p {
	line-height: 1.4;
}

/* --- forma / input elementi --- */
input[type=text], input[type=email] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=email]:focus {
  border: 3px solid #555;
}

select {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
}

input[type=radio], input[type=checkbox] {
  margin: 8px 0;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: transparent;
  border: 3px solid blue;
  border-radius: 4px;
  color: #000;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
}


input[type=reset] {
	border: 3px solid #ccc;
	background-color: transparent;
	color: #000;
}

/* --- tablica --- */
#tablica {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tablica td, #tablica th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablica tr:nth-child(even){background-color: #f2f2f2;}

#tablica tr:hover {background-color: #ddd;}

#tablica th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}

/* --- ikone u tablici --- */
.fa-edit {
  float: right;
  font-weight: normal;
}

.icon {
  color: #000;
}

.icon:hover {
  color: blue;
}


/* --- footer --- */
footer {
  font-size: 80%;
}

footer a:link, footer a:visited {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



